:root
{
    --main-color:#f25454 ;
}

a
{
    text-decoration: none;
    color: black;
}

a:hover
{
    color: var(--main-color);
}

#services .title h3
{
    font-weight: 900;
    font-size: 60;
    color: rgba(0 ,0 , 0 ,0.1);
}

#services .title h2
{
    font-weight: 700;
    font-size: 38;
}
#services .line
{
    width: 5%;
    height: 1px;
    background-color: black;
}
#services
{
    background-color: #fafafa;
}
#services .icon 
{
    color: var(--main-color);
    font-size: 32px;
}

#services .project-items h3
{
    transition: 1s;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 16;

    
}
#services .project-items:hover h3
{
    color: var(--main-color);

}

#services .project-items p
{
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 16;
}
<<<<<<< HEAD
*
{
    transition: all 0.15s ease;
    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    -ms-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
}
body {
    width: 100%;
    height: 100%;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 1.75em;
    color: #666;
    background: #fff;
    -webkit-font-smoothing: antialiased;
}

h1, .h1, h2, .h2,  h4, .h4, h5, .h5, h6, .h6 {
    font-family: "Poppins", sans-serif;
    color: #282828;
    font-weight: 600;
    /* margin-top: 20px; */
} 
section .container {
    padding-top: 100px;
    padding-bottom: 100px;
} 
/* about title */
.section-title hr {
    width: 50px;
    margin: 0 0 20px;
    border-color: #000;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    color: #000;
    margin: 0 auto 20px;
}
.section-title:hover hr
{
    width: 80px;
}
 .section-title h2 {
    position: relative;
    clear: both;
    display: inline-block;
    margin-bottom: 20px;
    font-size: 38px;
    line-height: 38px;
    font-weight: 700;
    text-transform: none;
} 

 .section-title h2:before {
    content: attr(data-bigletter);
    position: absolute;
    font-size: 2em;
    opacity: .06;
    top: -0.17em;
    left: 0;
    right: 0;
    margin: auto;
    text-transform: uppercase;
} 
.section-title p {
    font-size: 18px;
    color: #999;
    margin-bottom: 70px;
    max-width: 50%;   
}
/* *******end tittle*********** */

/* progress bar */
.progress .progress-bar {
    width: 0;
    border-radius: 0 2px 2px 0;
    -webkit-transition:;
    -moz-transition:;
    transition: none;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 15%);
    -webkit-border-radius: 0 2px 2px 0;
    -moz-border-radius: 0 2px 2px 0;
    -ms-border-radius: 0 2px 2px 0;
    -o-border-radius: 0 2px 2px 0;
    -ms-transition:;
    -o-transition:;
    background-color: #f25454;
}
.progress {
    height: 4px;
    margin-bottom: 20px;
    background-color: #eee;
    border-radius: 2px;
    overflow: hidden;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}
.progress-heading .progress-title {
    
    margin: 0;
    padding: 0;
    color: #444;
    font-weight: 600;
    text-transform: none;
}
.progress-heading .progress-value {
    text-align: right;
    font-weight: 500;
}
/* ****end od progress */
=======

.newsSec
{
    background-color: #f9f9f9;
}

.newsHeader p
{
    color: var(--main-color);
}

.newsContent img
{
    width: 400px;
    height: 350px;
}

.newsContent img:hover
{
    transform: scale(1.2) rotate(10deg);
}
>>>>>>> 1be1ca1fc4d41021ca79fd14febcc5c1f3124a13
