:root
{
    --main-color:#f25454 ;
}

a
{
    text-decoration: none;
    color: black;
}

a:hover
{
    color: var(--main-color);
}

#services .title h3
{
    font-weight: 900;
    font-size: 60;
    color: rgba(0 ,0 , 0 ,0.1);
}

#services .title h2
{
    font-weight: 700;
    font-size: 38;
}
#services .line
{
    width: 5%;
    height: 1px;
    background-color: black;
}
#services
{
    background-color: #fafafa;
}
#services .icon 
{
    color: var(--main-color);
    font-size: 32px;
}

#services .project-items h3
{
    transition: 1s;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 16;

    
}
#services .project-items:hover h3
{
    color: var(--main-color);

}

#services .project-items p
{
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 16;
}

.newsSec
{
    background-color: #f9f9f9;
}

.newsHeader p
{
    color: var(--main-color);
}

.newsContent img
{
    width: 400px;
    height: 350px;
}

.newsContent img:hover
{
    transform: scale(1.2) rotate(10deg);
}