.x {
    font-size: 17px;

}
:root{
    --color:red;
}
.ic{
   transform:translatey(50%);
   margin-left:30px;
   font-size: 23px;
}
.btn{
background-color:#61CE70;
margin-left:30px;
width:150px;
}
.tp{
    background-color:gray !important;
}
x ::after{
    color:#61CE70 !important;
}
.right li:hover{
    color:#61CE70;
}
.btn:hover{
    background-color: black;
}
.ic1:hover{
background-color: #C13584;
height:30px;
}
.ic2:hover{
    background-color: #BB0000;
    height:30px;
}
.ic3:hover{
    background-color:#0077B5 ;
    height:30px;
 }
.ic4:hover{
    background-color: #3B59B6;
    height:30px;
 }
 .Egypt{
     color:#61CE70;
    transform:translatey(30%);
    margin-left:40px;
    padding-left:45px;
    font-size:40px;
 }
 .Egypt2{
    transform:translatey(30%);
    margin-left:40px;
    padding-left:45px;
    font-size:19px;
 }
 .btn2{
transform: translateX(20%);
transform: translateY(100%);
     margin-top: 49px;
     margin-left:49px;
     text-align: center;
    width:270px;
    border-radius:2px;
    border: none;
    height:35px;
 }
 .slider{

 transform: translateY(6%);
 }
.btn2:hover{
     background-color:#61CE70;
 }
 .im1{
     margin-top:47px;
     margin-right:20px;
    transform:translateX(-100%);
 }
.im2{
transform:translateX(350%);
}
.im3{
    width: 300px !important;
    height: 100px !important;
    margin:auto;
}
.writing{
    font-size: 20px;
}
.heading{
    background-color: #F0F0F0 !important;
    height: 300px!important;
}
.im{
    width:60px !important;
    height: 60px !important;
}
.applying{
    background:linear-gradient(to bottom , rgb(136, 165, 136) ,#70b87a)
}
.in{
    width: 80px !important;
    height: 80px!important;
}
.ahmed{
    background-color: #CFF8E6;
}
.tx{
    color:#858585;
}
.hello{

    width: 100% !important;
}
.hov :hover{
    background-color: white;
}
.number{
    transform: translateX(70px);
    background-color: white;
    border-radius: 90px;
    width:35px;
    font-size:20px;
    color:black;
}
.programs{
    position:relative;
}
.tnx{
    color:#61CE70;
}
.ind{
    width:40px;
    height: 40px;
}
.para5{
    background-color: aliceblue;
}
.td{
    color:#60828D;
}
.char{
    font-size:35px;
}
.spectial{
    margin-left:40px;
}
.program1{
    background:linear-gradient(to bottom ,#FF9B8E,#FF4663) ;
    border-radius:30px;
    height:220px;
    position:relative;
    width:30%;
}
.pro1{
    position:absolute;
    width:120px !important;
    top:110px;
   transform:translatex(230px);
}
.types{
    box-sizing: border-box;
}
.know{
    font-size:16px;
}
.program2{
    background:linear-gradient(to right,#00B2F8,#0069EC);
    border-radius:30px;
    height:220px;
    position:relative;
    width:30%;
}
.program3{
    background:linear-gradient(to left,#F4DB5A,#D9A809);
    border-radius:30px;
    height:220px;
    position:relative;
    width:30%;
}
.program4{
    background:linear-gradient(to left,#45B4FE,#17DEFE);
    border-radius:30px;
    height:220px;
    position:relative;
    width:30%;
}
.program5{
    background:linear-gradient(to left,#FA8A51,#F9BA1D);
    border-radius:30px;
    height:220px;
    position:relative;
    width:30%;
}
.program1 p ::after
{
    content:"lorem10";
    color:var(--color,black);
}
.btn4{
    background-color:black;
    top:105%;
    transform:translateX(250%);
    position:absolute;
}
.btn2:hover{
    color:red
}
